
@font-face {
  font-family: Satisfy;
  src: url(/public/Satisfy/Satisfy-Regular.ttf);
}

@font-face {
  font-family: Pacifico;
  src: url(/public/Pacifico/Pacifico-Regular.ttf);
}


body {
  max-width: 2000px;
  align-items: center;
  margin:auto;
  min-width: 320px;
}

.App {
  text-align: center;
}

*{
  margin: 0;
}

